.loading-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

@media screen and (max-width: 767px){
  .loading-modal{
    font-size: 20px;
  }
}

.loading-sidebar{
  background: #525659;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100002;
  top: 0px;
  left: 0px;
}