@import '../../../stylesheets/variable';

.container_fab {
  bottom: 20px;
  position: fixed;
  //right: calc((100% - 1100px) / 2);
  
  @media screen and (min-width: 1200px) {
    right: calc((100% - 1226px) / 2);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    right: calc((100% - 750px) / 2);
  }
  @media screen and (max-width: 767px) {
    right: 15px;
  }
  z-index: 100;
  .addNewQuestion {
    background-color: #46A8BF;
    i {
      font-size: 30px;
    }
  }
  .saveAllQuestion {
    background-color: $clr-green;
    i {
      font-size: 16px;
    }
  }
  .ocrMode {
    background-color: $clr-dark-red;
    i {
      font-size: 16px;
    }
  }
  .delMode {
    background-color: #D62D20;
    i {
      font-size: 16px;
    }
  }
  .delQuestion {
    background-color: #D62D20;
    i {
      font-size: 24px;
    }
  }
  .exitDelMode {
    background-color: #9E9E9E;
    i {
      font-size: 16px;
    }
  }
  .createExam {
    background-color: $clr-dark-red;
    i {
      font-size: 24px;
    }
  }
  .buttons {
    z-index: 50;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 56px;
    height: 56px;
    margin: 15px auto 0;
    position: relative;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    //font-size: 20px;
    line-height: 1px;
    vertical-align: middle;
    padding: 6px;
    border: 0 solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    &:focus, &:active, &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, .14),
      0 4px 8px rgba(0, 0, 0, .28);
      outline: none !important;
    }
  }

  .buttons:not(:last-child) {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  .buttons:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
    //background-image: url('http://cbwconline.com/IMG/Share.svg');
    //background-size: contain;
  }

  .buttons:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
    //background-image: url('http://cbwconline.com/IMG/Facebook-Flat.png');
    //background-size: contain;
  }

  .buttons:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
    //background-image: url('http://cbwconline.com/IMG/Twitter-Flat.png');
    //background-size: contain;
  }

  .buttons:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 100ms;
    transition-delay: 60ms;
    //background-image: url('http://cbwconline.com/IMG/Google%20Plus.svg');
    //background-size: contain;
  }

  /* Show tooltip content on hover */

  [data-tooltip]:before {
    bottom: 25%;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-left: 10px;
    position: absolute;
    right: 100%;
    margin-right: 15px;
    white-space: nowrap;
    line-height: 14px;
  }

  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
  &:hover {
    .buttons:not(:last-child) {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin: 15px auto 0;
    }
    /* Unessential styling for sliding up buttons at differnt speeds */
  }
}

