/*
.chart-wrapper{
    min-height: 400px !important;
    min-width: 600px !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    .chart-container {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        padding: 10px !important;
        width: 100% !important;
        height: 100% !important;
        background-color: #fff !important;
    }
}
*/
