// This is just to center the spinner

.loading-spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

// Here is where the magic happens

$offset: 200;
$duration: 1.5s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
          dash $duration ease-in-out infinite,
          colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #46A8BF; }
  25% { stroke: #46A8BF; }
  50% { stroke: #46A8BF; }
  75% { stroke: #46A8BF; }
  100% { stroke: #46A8BFs; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}